# Project exclude paths
/springboot-beetlsql-demo/target/
/springboot-beetlsql-demo.iml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/libraries/
/.idea/inspectionProfiles/Project_Default.xml
